---

---
      <!-- Profile -->
      <div class="flex items-center gap-x-3">
        <div class="shrink-0">
          <img class="shrink-0 size-16 rounded-full" src="/blue.png" alt="Avatar">
        </div>

        <div class="grow">
          <h1 class="text-lg font-medium text-gray-800 dark:text-neutral-200">
            Aji Pratama
          </h1>
          <p class="text-sm text-gray-600 dark:text-neutral-400">
            Digital Creator, Software Engineer
          </p>
        </div>
      </div>
      <!-- End Profile -->

      <!-- About -->
      <div class="mt-8">
        <p class="text-sm text-gray-600 dark:text-neutral-400">
          I’m a software engineer with 8+ years of experience building backend systems, internal platforms, and cloud infrastructure for companies like Gojek and startups in Japan. My core stack includes Python, Django, and DevOps. Shipping systems at scale and optimizing infrastructure costs efficiently.
        </p>

        <p class="mt-3 text-sm text-gray-600 dark:text-neutral-400">
          In the past few years, I’ve evolved into a digital creator, combining my engineering background with content, tools, and AI automation. I build products like AIPedia.pro and run KerjaRemote.net, a platform for remote workers and solopreneurs. Occasionally, I also open 1-on-1 consultations to help others simplify tech and execute faster.        
        </p>

        <ul class="mt-5 flex flex-col gap-y-3">
          <li class="flex items-center gap-x-2.5">
            <svg class="shrink-0 size-3.5 text-gray-800 dark:text-neutral-200" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <rect width="20" height="16" x="2" y="4" rx="2" />
              <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" />
            </svg>
            <a class="text-[13px] text-gray-500 underline hover:text-gray-800 hover:decoration-2 focus:outline-hidden focus:decoration-2 dark:text-neutral-500 dark:hover:text-neutral-400" href="#">
              ajipratama.net@gmail.com
            </a>
          </li>

          <li class="flex items-center gap-x-2.5">
            <svg class="shrink-0 size-3.5 text-gray-800 dark:text-neutral-200" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
              <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
            </svg>
            <a class="text-[13px] text-gray-500 underline hover:text-gray-800 hover:decoration-2 focus:outline-hidden focus:decoration-2 dark:text-neutral-500 dark:hover:text-neutral-400" href="#">
              @ajipratamacom
            </a>
          </li>

        </ul>
      </div>
      <!-- End About -->
