---
import '../styles/base.css';

interface Props {
  title?: string;
}

const { title = "Aji Pratama" } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G0KYTSD92T"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-G0KYTSD92T');
    </script>
  </head>
  <body class="bg-neutral-900">
    <main>
      <slot />
    </main>
  </body>
</html>

<script>
  // Handle mobile toggle
  document.addEventListener('DOMContentLoaded', () => {
    const toggleBtn = document.querySelector('[data-toggle-products]');
    const productsGrid = document.querySelector('[data-products-grid]');

    toggleBtn?.addEventListener('click', () => {
      productsGrid?.classList.toggle('hidden');
    });
  });
</script>
